<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Projeto Nutrição</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">UNAMA - Clínica Nutrição</a>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sair</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Página inicial
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Aluno</span>
                    </h6>

                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Fichas de atendimento
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Agenda de consultas
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Lista de substitutos
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Planejamento energético
                            </a>
                        </li>
                    </li>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Paciente</span>
                    </h6>

                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Ver ficha de atendimento
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Ver agenda de consultas
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Alterar substitutos do Planejamento Alimentar
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Consultar planejamento alimentar
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="display-4">Página inicial</h1>
                </div>

                <p class="lead">
                    Utilize o menu lateral para navegar no gerenciamento da Clínica de Nutrição - UNAMA.
                </p>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#step-1" role="tab">Dados de identificação</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step-2" role="tab">História sócio-econômica</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step-3" role="tab">Anamnese clínica e nutricional</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#step-4" role="tab">Avaliação bioquímica</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="step-1" role="tabpanel">

                        <div class="form-group">
                            <label for="textNome"><b>Nome:</b></label> <input type="text"
                            class="form-control " id="textNome"
                            placeholder="Entre com o nome completo sem abreviações">
                        </div>

                        <div class="form-group form-check">
                            <b class="row"> Sexo:</b> <input type="checkbox"
                            class="form-check-input" id="checkBoxMas"> <label
                            class="form-check-label" for="checkBoxMas">Masculino</label> <input
                            type="checkbox" class="form-check-input1" id="checkBoxFem">
                            <label class="form-check-label" for="checkBoxFem">Feminino</label>

                        </div>

                        <div class="form-group">
                            <b> Data de Nascimento:</b> <input type="date"
                            class="form-control col-5" id="data">
                        </div>
                        <div class="form-group">
                            <b>Estado Civil:</b> <select class="custom-select col-4">

                                <option selected>Outros</option>
                                <option value="1">Solteiro</option>
                                <option value="2">Casado</option>
                                <option value="3">Viúvo</option>
                                <option value="4">Divorciado</option>
                            </select>
                        </div>
                        <div>
                            <label for="textFone"><b>Telefone(fixo/celular):</b></label> <input type="text"
                            class="form-control " id="textFone"
                            placeholder="Entre com o telefone fixo ou celular">
                        </div>
                        <div>
                            <label for="textEnder"><b>Endereço:</b></label> <input type="text"
                            class="form-control " id="textEnder"
                            placeholder="Entre com o endereço">
                        </div>
                        <div class="form-group">
                            <b>Município:</b> <select class="custom-select col-4">

                                <option selected>Outros</option>
                                <option value="1">Belém</option>
                                <option value="2">Ananideua</option>
                                <option value="3">Santarém</option>
                                <option value="4">Marabá</option>
                                <option value="5">Parauapebas</option>
                                <option value="6">Castanhal</option>
                                <option value="7">Abaetetuba</option>
                                <option value="8">Cametá</option>
                                <option value="9">Marituba</option>
                                <option value="10">Bragança</option>
                                <option value="11">São Félix do Xingu</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Naturalidade"><b>Naturalidade/Nacionalidade:</b></label> <input type="text"
                            class="form-control " id="Naturalidade"
                            placeholder="Nacionalidade ou Naturalidade">
                            <label for="EtniaRegiao"><b>Etnia/Região</b></label>
                            <input type="text" class="form-control" id="EtiniaRegiao" placeholder="Etnia e Religião">
                            <label for="email"><b>E-mail:</b></label>
                            <input type="text" class="form-control" id="email" placeholder="Entre com o e-mail">
                        </div>
                    </div>

                    <div class="tab-pane fade" id="step-2" role="tabpanel">
                        <p>Renda Familiar:</p>
                        <br><input type="radio" name="renda" value="0"> 1 a 4 salários mínimos <br/>
                        <br><input type="radio" name="renda" value="1"> 5 a 9 salários mínimos <br/>
                        <br><input type="radio" name="renda" value="2"> 10 ou mais salários mínimos <br/>

                        <p>Composição Familiar</p>
                        <br><input type="radio" name="familia" value="3"> até 3 membros <br/>
                        <br><input type="radio" name="familia" value="4"> 4 a 5 membros <br/>
                        <br><input type="radio" name="familia" value="5"> 6 ou mais membros <br/>

                        <p>Grau de Instrução</p>
                        <br><input type="radio" name="instrucao" value="6"> E. Médio <br/>
                        <br><input type="radio" name="instrucao" value="7"> E. Superior Completo <br/>
                        <br><input type="radio" name="instrucao" value="8"> E. Superior Incompleto <br/>
                        <br><input type="radio" name="instrucao" value="9"> Outro
                        <input type="text" name="outro" placeholder="Outro"><br/>
                        <p>Profissão:<input type="text" name="profissão"></p>
                        <p>Horário de Trabalho/Atividades:<input type="text" name="atividades"></p>
                    </div>

                    <div class="tab-pane fade" id="step-3" role="tabpanel">
                        <div class="form-group">
                            <label>Motivo da consulta</label>
                            <textarea class="form-control" rows="3" placeholder="Digite o motivo da consulta"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Já realizou tratamento nutricional anteriormente?</label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="acn_tratamento_anterior_y" name="acn_tratamento_anterior" value="s">
                                <label class="form-check-label" for="acn_tratamento_anterior_y">Sim</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="acn_tratamento_anterior_n" name="acn_tratamento_anterior" value="n">
                                <label class="form-check-label" for="acn_tratamento_anterior_n">Não</label>
                            </div>
                        </div>

                        <div class="form-group d-none-custom" id="acn_tratamento_anterior_motivo">
                            <label>Quando foi o tratamento e qual o motivo?</label>
                            <textarea class="form-control" placeholder="Digite o período do tratamento e qual o motivo"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Alimenta-se fora de casa com frequência?</label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="acn_alimenta_fora_y" name="acn_alimenta_fora" value="s">
                                <label class="form-check-label" for="acn_alimenta_fora_y">Sim</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="acn_alimenta_fora_n" name="acn_alimenta_fora" value="n">
                                <label class="form-check-label" for="acn_alimenta_fora_n">Não</label>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="step-4" role="tabpanel">
                        <div class="form-row">
                            <div class="form-group col-md-9">
                                <label for="inputEmail4">Exame laboratorial</label>
                                <input type="text" class="form-control" id="exameLab" placeholder="Digite o exame laboratorial realizado">
                            </div>

                            <div class="form-group col-md-4">
                                <label>Referência</label>
                                <input type="text" class="form-control" id="referencia" placeholder="Digite a referência">
                            </div>

                            <div class="form-group col-md-3">
                                <label>Data</label>
                                <input type="date" class="form-control" id="dataExame" placeholder="Digite a data do Exame">
                            </div>

                            <div class="form-group col-md-2">
                                <button type="button" class="btn btn-primary btn-new">Adicionar exame e data</button> ou
                            </div>

                            <div class="form-group col-md-2">
                                <button type="button"class="btn btn-primary btn-add">Adicionar nova data</button>
                            </div>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr class="topo-tabela">
                                    <th scope="col">Exames Laboratoriais</th>
                                    <th scope="col">Referência</th>
                                    <th scope="col" class="datas">Data(s)</th>
                                </tr>
                            </thead>

                            <tbody class="corpo-tabela">

                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="../js/app.js"></script>
</body>
</html>
